.main-header{
    background: rgba(0, 0, 0, 0.3);
    padding: 0.625rem 0 1.25rem 0;
    .bottom-header{
        padding-top: 8px;
        .logo{
            flex: 0 0 115px;
            max-width: 115px;
        }
        .login-area-wrap{
            // flex: 0 0 320px;
            // max-width: 320px;
            flex: 0 0 auto;
            width: auto;
            .account-area{
                ul{
                    li{
                        a{
                            display: block;
                            font-weight: 500;
                            text-transform: capitalize;
                            text-align: center;
                            height: 36px;
                            line-height: 36px;
                            padding: 0 1.563rem;
                            border-radius: 0.5rem;
                            color: $colorwhite;
                            &.become-tutor{
                               background-color: $colorwhite;
                               color: $blue;
                               &:hover{
                                background-color: $skyblue;
                                color: $colorwhite;
                               }
                            }
                            &.notification{
                                i{
                                    margin-right: 0.4rem;
                                }
                            }
                            &.acc-sign-in{
                                &:hover{
                                    color: $skyblue;
                                }
                            }
                            &.acc-join{
                                height: 34px;
                                line-height: 34px;
                                border: 1px solid $colorwhite;
                                &:hover{
                                    background-color: $skyblue;
                                    color: $colorwhite;
                                    border-color: $skyblue;
                                }
                            }
                        }
                    }
                }
                .after-login{
                    position: relative;
                    height: 34px;
                    line-height: 34px;
                    border: 1px solid #fff;
                    border-radius: 0.5rem;
                    margin-left: 1rem;
                    a{
                        i{
                            margin-right: 0.4rem;
                        }
                    }
                    .after-login-wrap{
                        font-family: 'Montserrat', sans-serif;
                        position: absolute;
                        right: 0;
                        background: #fff;
                        border-radius: 0.5rem;
                        padding: 1rem 0;
                        min-width: 250px;
                        box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 10%);
                        opacity: 0;
                        visibility: hidden;
                        transition: all 0.4s ease-in-out;
                        top: 110%;
                        .login-top{
                            padding: 0 1.563rem 0.5rem 1.563rem;
                            padding-bottom: 0.5rem;
                            border-bottom: 1px solid #e3e3e3;
                            .login-top-lft{
                                flex: 0 0 50px;
                                max-width: 50px;
                                .login-user-name{
                                    background: #08d0f5;
                                    border-radius: 50%;
                                    color: #fff;
                                    display: block;
                                    font-weight: 700;
                                    font-size: 1.5rem;
                                    height: 50px;
                                    width: 50px;
                                    line-height: 50px;
                                    text-align: center;
                                    text-transform: uppercase;
                                }
                            }
                            .login-top-rgt {
                                flex: 1 0;
                                padding-left: 10px;
                                .login-top-dtls{
                                    h4{
                                        font-size: 1rem;
                                        padding-bottom: 0;
                                        color: #08d0f5;
                                    }
                                    h6{
                                        color: grey;
                                        font-size: 0.75rem;
                                        font-weight: 400;
                                        padding: 0;
                                    }
                                }
                            }
                        }
                        .after-login-list{
                            li{
                                a{
                                    color: #000;
                                    text-align: left;
                                    position: relative;
                                    border-radius: 0;
                                    &:hover{
                                        background: #ebebeb;
                                    }
                                }
                            }
                        }
                    }
                    &:hover{
                        .after-login-wrap{
                            opacity: 1;
                            visibility: visible;
                            top: 100%;
                        }
                    }
                }
                .language-select{
                    height: 34px;
                    line-height: 34px;
                    // border: 1px solid $colorwhite;
                    color: #fff;
                    text-transform: capitalize;
                    font-size: 0.935rem;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 500;
                    padding-top: 0;
                    padding-bottom: 0;
                    cursor: pointer;
                    position: relative;
                    // z-index: 1;
                    // border-radius: 0.5rem;
                    &:focus{
                        background-color: transparent;
                    }
                    option{
                        color: #000;
                    }
                    .lang-list {
                        position: absolute;
                        right: 0;
                        background: #fff;
                        border-radius: 0.5rem;
                        padding: 1rem 0;
                        max-height: 320px;
                        min-width: 220px;
                        box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 10%);
                        li{
                            a{
                                color: #000;
                                text-align: left;
                                position: relative;
                                padding-left: 2.5rem;
                                padding-right: 1rem;
                                border-radius: 0;
                                &:hover{
                                    background: #ebebeb;
                                }
                            }
                            &.active{
                                a{
                                    &::after{
                                        position: absolute;
                                        content: "\f00c";
                                        font-family: "Font Awesome 6 Free";
                                        font-weight: 900;
                                        font-size: 0.8rem;
                                        left: 12px;
                                        top: 2px;
                                        color: $skyblue;
                                    }
                                }
                            }
                        }
                    }
                    
                }
                .language-select-globe{
                    .selected-lang{
                        font-weight: 600;
                    }
                    .language-select{
                        padding-left: 30px;
                    }
                    &::after{
                        position: absolute;
                        content: "\f0ac";
                        font-family: "Font Awesome 6 Free";
                        font-weight: 900;
                        font-size: 16px;
                        left: 6px;
                        top: 5px;
                        color: #fff;
                    }
                }
            }
        }
    }
    .top-header{
        .top-help{
            li{
                a{
                    color: $colorwhite;
                    display: block;
                    text-transform: capitalize;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 500;
                }
                &:not(:last-child){
                    border-right: 1px solid #fff;
                    padding-right: 0.5rem;
                    margin-right: 0.5rem;
                }
            }
        }
    }
    &.other-header{
        background: #01478c;
        &.scroll-on{
            background: #01478c; 
        }
    }
}

.home-header{
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 2;
}

.menu-responsive {
    display: none;
}


.navigation {
    width: 100%;
    position: relative;
    ul{
        li {
            padding: 0 1.563rem;
            a{
                color: #fff;
                text-transform: capitalize;
                font-weight: 500;
                font-size: 0.938rem;
                position: relative;
                &::before{
                    content: "";
                    position: absolute;
                    left: -10px;
                    bottom: 0;
                    background: $skyblue;
                    transform: scale(0, 1);
                    transform-origin: right;
                    transition: transform .4s ease;
                    height: 2px;
                    width: calc(100% - 3px);
                    margin: 0 11px 0 11px;
                }
                &:hover{
                    color: $skyblue;
                    &::before{
                        transform: scale(1, 1);
                        transform-origin: left;
                    }
                }
            }
            &.active{
                a{
                    &::before{
                        transform: scale(1, 1);
                        transform-origin: left;
                    }
                }
            }
            &.active{
                a{
                    color: $skyblue;
                }
            }
            .submenu{
                position: absolute;
                background: $colorwhite;
                left: 0;
                width: 100%;
                top: calc(100% + 15px);
                opacity: 0;
                visibility: hidden;
                transition: all 300ms ease-in-out;
                box-shadow: 0 11px 8px -5px rgb(138, 155, 165, 15%);
                z-index: 2;
                padding: 20px;
            }
            &:hover{
                .submenu{
                    opacity: 1;
                    visibility: visible;
                }
            }
            &.sub_menu_open{
                >{
                    a{
                        position: relative;
                        &::after{
                            position: absolute;
                            content: "\f107";
                            font-family: "Font Awesome 6 free";
                            font-weight: 900;
                            right: -20px;
                        }
                    }
                }
            }
        }
    }
}
.start-header {
	opacity: 1;
	transition : all 0.3s ease-out;
    box-shadow: 0 5px 10px 9px rgba(138, 155, 165, 0.8%);
    // background: rgba(0, 0, 0, 0.3);
    &.scroll-on{
        box-shadow: 0 5px 10px 9px rgba(138, 155, 165, 0.15);
        padding: 10px 0;
        -webkit-transition : all 0.3s ease-out;
        transition : all 0.3s ease-out;
        position: fixed;
        top: 0;
        left: 0;
        min-width: 100%;
        z-index: 4;
        // backdrop-filter: blur(4px);
        background: rgba(0, 0, 0, 0.7);
        .logo{
            .logo-wrap{
                max-width: 93px;
            }
        }
        // &.home-header{
        //     backdrop-filter: blur(4px);
        // }
    }
}

