.iti-flag {
  width: 20px;
}

.iti-flag.iti-be {
  width: 18px;
}

.iti-flag.iti-ch {
  width: 15px;
}

.iti-flag.iti-mc {
  width: 19px;
}

.iti-flag.iti-ne {
  width: 18px;
}

.iti-flag.iti-np {
  width: 13px;
}

.iti-flag.iti-va {
  width: 15px;
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  .iti-flag {
    background-size: 5652px 15px;
  }
}

:root {
  --size10: 15px;
  --size11: 15px;
  --size12: 15px;
  --size13: 15px;
  --size14: 15px;
  --size15: 15px;
}

.iti-flag.iti-ac {
  height: var(--size10);
  width: var(--size10);
  background-position: 0px 2px;
}

.iti-flag.iti-ad {
  height: var(--size14);
  width: var(--size14);
  background-position: -22px 0px;
}

.iti-flag.iti-ae {
  height: var(--size10);
  width: var(--size10);
  background-position: -44px 2px;
}

.iti-flag.iti-af {
  height: var(--size14);
  width: var(--size14);
  background-position: -66px 0px;
}

.iti-flag.iti-ag {
  height: var(--size14);
  width: var(--size14);
  background-position: -88px 0px;
}

.iti-flag.iti-ai {
  height: var(--size10);
  width: var(--size10);
  background-position: -110px 2px;
}

.iti-flag.iti-al {
  height: var(--size15);
  width: var(--size15);
  background-position: -132px 0px;
}

.iti-flag.iti-am {
  height: var(--size10);
  width: var(--size10);
  background-position: -154px 2px;
}

.iti-flag.iti-ao {
  height: var(--size14);
  width: var(--size14);
  background-position: -176px 0px;
}

.iti-flag.iti-aq {
  height: var(--size14);
  width: var(--size14);
  background-position: -198px 0px;
}

.iti-flag.iti-ar {
  height: var(--size13);
  width: var(--size13);
  background-position: -222px 1px;
}

.iti-flag.iti-as {
  height: var(--size10);
  width: var(--size10);
  background-position: -242px 2px;
}

.iti-flag.iti-at {
  height: var(--size14);
  width: var(--size14);
  background-position: -264px 0px;
}

.iti-flag.iti-au {
  height: var(--size10);
  width: var(--size10);
  background-position: -286px 2px;
}

.iti-flag.iti-aw {
  height: var(--size14);
  width: var(--size14);
  background-position: -308px 0px;
}

.iti-flag.iti-ax {
  height: var(--size13);
  width: var(--size13);
  background-position: -330px 0px;
}

.iti-flag.iti-az {
  height: var(--size10);
  width: var(--size10);
  background-position: -352px 2px;
}

.iti-flag.iti-ba {
  height: var(--size10);
  width: var(--size10);
  background-position: -374px 2px;
}

.iti-flag.iti-bb {
  height: var(--size14);
  width: var(--size14);
  background-position: -396px 0px;
}

.iti-flag.iti-bd {
  height: var(--size12);
  width: var(--size12);
  background-position: -419px 2px;
}

.iti-flag.iti-be {
  height: var(--size15);
  width: var(--size15);
  background-position: -440px 0px;
}

.iti-flag.iti-bf {
  height: var(--size14);
  width: var(--size14);
  background-position: -460px 0px;
}

.iti-flag.iti-bg {
  height: var(--size12);
  width: var(--size12);
  background-position: -482px 0px;
}

.iti-flag.iti-bh {
  height: var(--size12);
  width: var(--size12);
  background-position: -504px 0px;
}

.iti-flag.iti-bi {
  height: var(--size12);
  width: var(--size12);
  background-position: -526px 0px;
}

.iti-flag.iti-bj {
  height: var(--size14);
  width: var(--size14);
  background-position: -548px 0px;
}

.iti-flag.iti-bl {
  height: var(--size14);
  width: var(--size14);
  background-position: -570px 0px;
}

.iti-flag.iti-bm {
  height: var(--size10);
  width: var(--size10);
  background-position: -592px 2px;
}

.iti-flag.iti-bn {
  height: var(--size10);
  width: var(--size10);
  background-position: -614px 2px;
}

.iti-flag.iti-bo {
  height: var(--size14);
  width: var(--size14);
  background-position: -636px 0px;
}

.iti-flag.iti-bq {
  height: var(--size14);
  width: var(--size14);
  background-position: -658px 0px;
}

.iti-flag.iti-br {
  height: var(--size14);
  width: var(--size14);
  background-position: -680px 0px;
}

.iti-flag.iti-bs {
  height: var(--size10);
  width: var(--size10);
  background-position: -702px 2px;
}

.iti-flag.iti-bt {
  height: var(--size14);
  width: var(--size14);
  background-position: -724px 0px;
}

.iti-flag.iti-bv {
  height: var(--size15);
  width: var(--size15);
  background-position: -746px 0px;
}

.iti-flag.iti-bw {
  height: var(--size14);
  width: var(--size14);
  background-position: -768px 0px;
}

.iti-flag.iti-by {
  height: var(--size10);
  width: var(--size10);
  background-position: -790px 2px;
}

.iti-flag.iti-bz {
  height: var(--size14);
  width: var(--size14);
  background-position: -812px 0px;
}

.iti-flag.iti-ca {
  height: var(--size10);
  width: var(--size10);
  background-position: -834px 2px;
}

.iti-flag.iti-cc {
  height: var(--size10);
  width: var(--size10);
  background-position: -856px 2px;
}

.iti-flag.iti-cd {
  height: var(--size15);
  width: var(--size15);
  background-position: -878px 0px;
}

.iti-flag.iti-cf {
  height: var(--size14);
  width: var(--size14);
  background-position: -900px 0px;
}

.iti-flag.iti-cg {
  height: var(--size14);
  width: var(--size14);
  background-position: -922px 0px;
}

.iti-flag.iti-ch {
  height: var(--size15);
  width: var(--size15);
  background-position: -944px 0px;
}

.iti-flag.iti-ci {
  height: var(--size14);
  width: var(--size14);
  background-position: -961px 0px;
}

.iti-flag.iti-ck {
  height: var(--size10);
  width: var(--size10);
  background-position: -983px 2px;
}

.iti-flag.iti-cl {
  height: var(--size14);
  width: var(--size14);
  background-position: -1005px 0px;
}

.iti-flag.iti-cm {
  height: var(--size14);
  width: var(--size14);
  background-position: -1027px 0px;
}

.iti-flag.iti-cn {
  height: var(--size14);
  width: var(--size14);
  background-position: -1049px 0px;
}

.iti-flag.iti-co {
  height: var(--size14);
  width: var(--size14);
  background-position: -1071px 0px;
}

.iti-flag.iti-cp {
  height: var(--size14);
  width: var(--size14);
  background-position: -1093px 0px;
}

.iti-flag.iti-cr {
  height: var(--size12);
  width: var(--size12);
  background-position: -1115px 0px;
}

.iti-flag.iti-cu {
  height: var(--size10);
  width: var(--size10);
  background-position: -1137px 2px;
}

.iti-flag.iti-cv {
  height: var(--size12);
  width: var(--size12);
  background-position: -1159px 0px;
}

.iti-flag.iti-cw {
  height: var(--size14);
  width: var(--size14);
  background-position: -1181px 0px;
}

.iti-flag.iti-cx {
  height: var(--size10);
  width: var(--size10);
  background-position: -1203px 2px;
}

.iti-flag.iti-cy {
  height: var(--size14);
  width: var(--size14);
  background-position: -1225px 0px;
}

.iti-flag.iti-cz {
  height: var(--size14);
  width: var(--size14);
  background-position: -1247px 0px;
}

.iti-flag.iti-de {
  height: var(--size12);
  width: var(--size12);
  background-position: -1269px 0px;
}

.iti-flag.iti-dg {
  height: var(--size10);
  width: var(--size10);
  background-position: -1291px 2px;
}

.iti-flag.iti-dj {
  height: var(--size14);
  width: var(--size14);
  background-position: -1313px 0px;
}

.iti-flag.iti-dk {
  height: var(--size15);
  width: var(--size15);
  background-position: -1335px 0px;
}

.iti-flag.iti-dm {
  height: var(--size10);
  width: var(--size10);
  background-position: -1357px 2px;
}

.iti-flag.iti-do {
  height: var(--size14);
  width: var(--size14);
  background-position: -1379px 0px;
}

.iti-flag.iti-dz {
  height: var(--size14);
  width: var(--size14);
  background-position: -1401px 0px;
}

.iti-flag.iti-ea {
  height: var(--size14);
  width: var(--size14);
  background-position: -1423px 0px;
}

.iti-flag.iti-ec {
  height: var(--size14);
  width: var(--size14);
  background-position: -1445px 0px;
}

.iti-flag.iti-ee {
  height: var(--size13);
  width: var(--size13);
  background-position: -1467px 0px;
}

.iti-flag.iti-eg {
  height: var(--size14);
  width: var(--size14);
  background-position: -1489px 0px;
}

.iti-flag.iti-eh {
  height: var(--size10);
  width: var(--size10);
  background-position: -1511px 2px;
}

.iti-flag.iti-er {
  height: var(--size10);
  width: var(--size10);
  background-position: -1533px 2px;
}

.iti-flag.iti-es {
  height: var(--size14);
  width: var(--size14);
  background-position: -1555px 0px;
}

.iti-flag.iti-et {
  height: var(--size10);
  width: var(--size10);
  background-position: -1577px 2px;
}

.iti-flag.iti-eu {
  height: var(--size14);
  width: var(--size14);
  background-position: -1599px 0px;
}

.iti-flag.iti-fi {
  height: var(--size12);
  width: var(--size12);
  background-position: -1621px 0px;
}

.iti-flag.iti-fj {
  height: var(--size10);
  width: var(--size10);
  background-position: -1643px 2px;
}

.iti-flag.iti-fk {
  height: var(--size10);
  width: var(--size10);
  background-position: -1665px 2px;
}

.iti-flag.iti-fm {
  height: var(--size11);
  width: var(--size11);
  background-position: -1687px 0px;
}

.iti-flag.iti-fo {
  height: var(--size15);
  width: var(--size15);
  background-position: -1709px 0px;
}

.iti-flag.iti-fr {
  height: var(--size14);
  width: var(--size14);
  background-position: -1731px 0px;
}

.iti-flag.iti-ga {
  height: var(--size15);
  width: var(--size15);
  background-position: -1753px 0px;
}

.iti-flag.iti-gb {
  height: var(--size10);
  width: var(--size10);
  background-position: -1775px 2px;
}

.iti-flag.iti-gd {
  height: var(--size12);
  width: var(--size12);
  background-position: -1797px 0px;
}

.iti-flag.iti-ge {
  height: var(--size14);
  width: var(--size14);
  background-position: -1819px 0px;
}

.iti-flag.iti-gf {
  height: var(--size14);
  width: var(--size14);
  background-position: -1841px 0px;
}

.iti-flag.iti-gg {
  height: var(--size14);
  width: var(--size14);
  background-position: -1863px 0px;
}

.iti-flag.iti-gh {
  height: var(--size14);
  width: var(--size14);
  background-position: -1885px 0px;
}

.iti-flag.iti-gi {
  height: var(--size10);
  width: var(--size10);
  background-position: -1907px 2px;
}

.iti-flag.iti-gl {
  height: var(--size14);
  width: var(--size14);
  background-position: -1929px 0px;
}

.iti-flag.iti-gm {
  height: var(--size14);
  width: var(--size14);
  background-position: -1951px 0px;
}

.iti-flag.iti-gn {
  height: var(--size14);
  width: var(--size14);
  background-position: -1973px 0px;
}

.iti-flag.iti-gp {
  height: var(--size14);
  width: var(--size14);
  background-position: -1995px 0px;
}

.iti-flag.iti-gq {
  height: var(--size14);
  width: var(--size14);
  background-position: -2017px 0px;
}

.iti-flag.iti-gr {
  height: var(--size14);
  width: var(--size14);
  background-position: -2039px 0px;
}

.iti-flag.iti-gs {
  height: var(--size10);
  width: var(--size10);
  background-position: -2061px 2px;
}

.iti-flag.iti-gt {
  height: var(--size13);
  width: var(--size13);
  background-position: -2083px 0px;
}

.iti-flag.iti-gu {
  height: var(--size11);
  width: var(--size11);
  background-position: -2105px 0px;
}

.iti-flag.iti-gw {
  height: var(--size10);
  width: var(--size10);
  background-position: -2127px 2px;
}

.iti-flag.iti-gy {
  height: var(--size12);
  width: var(--size12);
  background-position: -2149px 0px;
}

.iti-flag.iti-hk {
  height: var(--size14);
  width: var(--size14);
  background-position: -2171px 0px;
}

.iti-flag.iti-hm {
  height: var(--size10);
  width: var(--size10);
  background-position: -2193px 2px;
}

.iti-flag.iti-hn {
  height: var(--size10);
  width: var(--size10);
  background-position: -2215px 2px;
}

.iti-flag.iti-hr {
  height: var(--size10);
  width: var(--size10);
  background-position: -2237px 2px;
}

.iti-flag.iti-ht {
  height: var(--size12);
  width: var(--size12);
  background-position: -2259px 0px;
}

.iti-flag.iti-hu {
  height: var(--size10);
  width: var(--size10);
  background-position: -2281px 2px;
}

.iti-flag.iti-ic {
  height: var(--size14);
  width: var(--size14);
  background-position: -2303px 0px;
}

.iti-flag.iti-id {
  height: var(--size14);
  width: var(--size14);
  background-position: -2325px 0px;
}

.iti-flag.iti-ie {
  height: var(--size10);
  width: var(--size10);
  background-position: -2347px 2px;
}

.iti-flag.iti-il {
  height: var(--size15);
  width: var(--size15);
  background-position: -2369px 0px;
}

.iti-flag.iti-im {
  height: var(--size10);
  width: var(--size10);
  background-position: -2391px 2px;
}

.iti-flag.iti-in {
  height: var(--size14);
  width: var(--size14);
  background-position: -2415px 0px;
}

.iti-flag.iti-io {
  height: var(--size10);
  width: var(--size10);
  background-position: -2435px 2px;
}

.iti-flag.iti-iq {
  height: var(--size14);
  width: var(--size14);
  background-position: -2457px 0px;
}

.iti-flag.iti-ir {
  height: var(--size12);
  width: var(--size12);
  background-position: -2479px 0px;
}

.iti-flag.iti-is {
  height: var(--size15);
  width: var(--size15);
  background-position: -2501px 0px;
}

.iti-flag.iti-it {
  height: var(--size14);
  width: var(--size14);
  background-position: -2523px 0px;
}

.iti-flag.iti-je {
  height: var(--size12);
  width: var(--size12);
  background-position: -2545px 0px;
}

.iti-flag.iti-jm {
  height: var(--size10);
  width: var(--size10);
  background-position: -2567px 0px;
}

.iti-flag.iti-jo {
  height: var(--size10);
  width: var(--size10);
  background-position: -2589px 2px;
}

.iti-flag.iti-jp {
  height: var(--size14);
  width: var(--size14);
  background-position: -2611px 0px;
}

.iti-flag.iti-ke {
  height: var(--size14);
  width: var(--size14);
  background-position: -2633px 0px;
}

.iti-flag.iti-kg {
  height: var(--size12);
  width: var(--size12);
  background-position: -2655px 0px;
}

.iti-flag.iti-kh {
  height: var(--size13);
  width: var(--size13);
  background-position: -2677px 0px;
}

.iti-flag.iti-ki {
  height: var(--size10);
  width: var(--size10);
  background-position: -2699px 2px;
}

.iti-flag.iti-km {
  height: var(--size12);
  width: var(--size12);
  background-position: -2721px 0px;
}

.iti-flag.iti-kn {
  height: var(--size14);
  width: var(--size14);
  background-position: -2743px 0px;
}

.iti-flag.iti-kp {
  height: var(--size10);
  width: var(--size10);
  background-position: -2765px 2px;
}

.iti-flag.iti-kr {
  height: var(--size14);
  width: var(--size14);
  background-position: -2787px 0px;
}

.iti-flag.iti-kw {
  height: var(--size10);
  width: var(--size10);
  background-position: -2809px 2px;
}

.iti-flag.iti-ky {
  height: var(--size10);
  width: var(--size10);
  background-position: -2831px 2px;
}

.iti-flag.iti-kz {
  height: var(--size10);
  width: var(--size10);
  background-position: -2853px 2px;
}

.iti-flag.iti-la {
  height: var(--size14);
  width: var(--size14);
  background-position: -2875px 0px;
}

.iti-flag.iti-lb {
  height: var(--size14);
  width: var(--size14);
  background-position: -2897px 0px;
}

.iti-flag.iti-lc {
  height: var(--size10);
  width: var(--size10);
  background-position: -2919px 2px;
}

.iti-flag.iti-li {
  height: var(--size12);
  width: var(--size12);
  background-position: -2941px 0px;
}

.iti-flag.iti-lk {
  height: var(--size10);
  width: var(--size10);
  background-position: -2963px 2px;
}

.iti-flag.iti-lr {
  height: var(--size11);
  width: var(--size11);
  background-position: -2985px 0px;
}

.iti-flag.iti-ls {
  height: var(--size14);
  width: var(--size14);
  background-position: -3007px 0px;
}

.iti-flag.iti-lt {
  height: var(--size12);
  width: var(--size12);
  background-position: -3029px 0px;
}

.iti-flag.iti-lu {
  height: var(--size12);
  width: var(--size12);
  background-position: -3051px 0px;
}

.iti-flag.iti-lv {
  height: var(--size10);
  width: var(--size10);
  background-position: -3073px 2px;
}

.iti-flag.iti-ly {
  height: var(--size10);
  width: var(--size10);
  background-position: -3095px 2px;
}

.iti-flag.iti-ma {
  height: var(--size14);
  width: var(--size14);
  background-position: -3117px 0px;
}

.iti-flag.iti-mc {
  height: var(--size14);
  width: var(--size14);
  background-position: -3139px 0px;
}

.iti-flag.iti-md {
  height: var(--size10);
  width: var(--size10);
  background-position: -3160px 2px;
}

.iti-flag.iti-me {
  height: var(--size10);
  width: var(--size10);
  background-position: -3182px 2px;
}

.iti-flag.iti-mf {
  height: var(--size14);
  width: var(--size14);
  background-position: -3204px 0px;
}

.iti-flag.iti-mg {
  height: var(--size14);
  width: var(--size14);
  background-position: -3226px 0px;
}

.iti-flag.iti-mh {
  height: var(--size11);
  width: var(--size11);
  background-position: -3248px 0px;
}

.iti-flag.iti-mk {
  height: var(--size10);
  width: var(--size10);
  background-position: -3270px 2px;
}

.iti-flag.iti-ml {
  height: var(--size14);
  width: var(--size14);
  background-position: -3292px 0px;
}

.iti-flag.iti-mm {
  height: var(--size14);
  width: var(--size14);
  background-position: -3314px 0px;
}

.iti-flag.iti-mn {
  height: var(--size10);
  width: var(--size10);
  background-position: -3336px 2px;
}

.iti-flag.iti-mo {
  height: var(--size14);
  width: var(--size14);
  background-position: -3358px 0px;
}

.iti-flag.iti-mp {
  height: var(--size10);
  width: var(--size10);
  background-position: -3380px 2px;
}

.iti-flag.iti-mq {
  height: var(--size14);
  width: var(--size14);
  background-position: -3402px 0px;
}

.iti-flag.iti-mr {
  height: var(--size14);
  width: var(--size14);
  background-position: -3424px 0px;
}

.iti-flag.iti-ms {
  height: var(--size10);
  width: var(--size10);
  background-position: -3446px 2px;
}

.iti-flag.iti-mt {
  height: var(--size14);
  width: var(--size14);
  background-position: -3468px 0px;
}

.iti-flag.iti-mu {
  height: var(--size14);
  width: var(--size14);
  background-position: -3490px 0px;
}

.iti-flag.iti-mv {
  height: var(--size14);
  width: var(--size14);
  background-position: -3512px 0px;
}

.iti-flag.iti-mw {
  height: var(--size14);
  width: var(--size14);
  background-position: -3534px 0px;
}

.iti-flag.iti-mx {
  height: var(--size12);
  width: var(--size12);
  background-position: -3556px 0px;
}

.iti-flag.iti-my {
  height: var(--size10);
  width: var(--size10);
  background-position: -3578px 2px;
}

.iti-flag.iti-mz {
  height: var(--size14);
  width: var(--size14);
  background-position: -3600px 0px;
}

.iti-flag.iti-na {
  height: var(--size14);
  width: var(--size14);
  background-position: -3622px 0px;
}

.iti-flag.iti-nc {
  height: var(--size10);
  width: var(--size10);
  background-position: -3644px 2px;
}

.iti-flag.iti-ne {
  height: var(--size15);
  width: var(--size15);
  background-position: -3666px 0px;
}

.iti-flag.iti-nf {
  height: var(--size10);
  width: var(--size10);
  background-position: -3686px 2px;
}

.iti-flag.iti-ng {
  height: var(--size10);
  width: var(--size10);
  background-position: -3708px 2px;
}

.iti-flag.iti-ni {
  height: var(--size12);
  width: var(--size12);
  background-position: -3730px 0px;
}

.iti-flag.iti-nl {
  height: var(--size14);
  width: var(--size14);
  background-position: -3752px 0px;
}

.iti-flag.iti-no {
  height: var(--size15);
  width: var(--size15);
  background-position: -3774px 0px;
}

.iti-flag.iti-np {
  height: var(--size15);
  width: var(--size15);
  background-position: -3796px 0px;
}

.iti-flag.iti-nr {
  height: var(--size10);
  width: var(--size10);
  background-position: -3811px 2px;
}

.iti-flag.iti-nu {
  height: var(--size10);
  width: var(--size10);
  background-position: -3833px 2px;
}

.iti-flag.iti-nz {
  height: var(--size10);
  width: var(--size10);
  background-position: -3855px 2px;
}

.iti-flag.iti-om {
  height: var(--size10);
  width: var(--size10);
  background-position: -3877px 2px;
}

.iti-flag.iti-pa {
  height: var(--size14);
  width: var(--size14);
  background-position: -3899px 0px;
}

.iti-flag.iti-pe {
  height: var(--size14);
  width: var(--size14);
  background-position: -3921px 0px;
}

.iti-flag.iti-pf {
  height: var(--size14);
  width: var(--size14);
  background-position: -3943px 0px;
}

.iti-flag.iti-pg {
  height: var(--size15);
  width: var(--size15);
  background-position: -3965px 0px;
}

.iti-flag.iti-ph {
  height: var(--size10);
  width: var(--size10);
  background-position: -3987px 2px;
}

.iti-flag.iti-pk {
  height: var(--size14);
  width: var(--size14);
  background-position: -4009px 0px;
}

.iti-flag.iti-pl {
  height: var(--size13);
  width: var(--size13);
  background-position: -4031px 0px;
}

.iti-flag.iti-pm {
  height: var(--size14);
  width: var(--size14);
  background-position: -4053px 0px;
}

.iti-flag.iti-pn {
  height: var(--size10);
  width: var(--size10);
  background-position: -4075px 2px;
}

.iti-flag.iti-pr {
  height: var(--size14);
  width: var(--size14);
  background-position: -4097px 0px;
}

.iti-flag.iti-ps {
  height: var(--size10);
  width: var(--size10);
  background-position: -4119px 2px;
}

.iti-flag.iti-pt {
  height: var(--size14);
  width: var(--size14);
  background-position: -4141px 0px;
}

.iti-flag.iti-pw {
  height: var(--size13);
  width: var(--size13);
  background-position: -4163px 0px;
}

.iti-flag.iti-py {
  height: var(--size11);
  width: var(--size11);
  background-position: -4185px 0px;
}

.iti-flag.iti-qa {
  height: 8px;
  background-position: -4207px 0px;
}

.iti-flag.iti-re {
  height: var(--size14);
  width: var(--size14);
  background-position: -4229px 0px;
}

.iti-flag.iti-ro {
  height: var(--size14);
  width: var(--size14);
  background-position: -4251px 0px;
}

.iti-flag.iti-rs {
  height: var(--size14);
  width: var(--size14);
  background-position: -4273px 0px;
}

.iti-flag.iti-ru {
  height: var(--size14);
  width: var(--size14);
  background-position: -4295px 0px;
}

.iti-flag.iti-rw {
  height: var(--size14);
  width: var(--size14);
  background-position: -4317px 0px;
}

.iti-flag.iti-sa {
  height: var(--size14);
  width: var(--size14);
  background-position: -4339px 0px;
}

.iti-flag.iti-sb {
  height: var(--size10);
  width: var(--size10);
  background-position: -4361px 2px;
}

.iti-flag.iti-sc {
  height: var(--size10);
  width: var(--size10);
  background-position: -4383px 2px;
}

.iti-flag.iti-sd {
  height: var(--size10);
  width: var(--size10);
  background-position: -4405px 2px;
}

.iti-flag.iti-se {
  height: var(--size13);
  width: var(--size13);
  background-position: -4427px 0px;
}

.iti-flag.iti-sg {
  height: var(--size14);
  width: var(--size14);
  background-position: -4449px 0px;
}

.iti-flag.iti-sh {
  height: var(--size10);
  width: var(--size10);
  background-position: -4471px 2px;
}

.iti-flag.iti-si {
  height: var(--size10);
  width: var(--size10);
  background-position: -4493px 2px;
}

.iti-flag.iti-sj {
  height: var(--size15);
  width: var(--size15);
  background-position: -4515px 0px;
}

.iti-flag.iti-sk {
  height: var(--size14);
  width: var(--size14);
  background-position: -4537px 0px;
}

.iti-flag.iti-sl {
  height: var(--size14);
  width: var(--size14);
  background-position: -4559px 0px;
}

.iti-flag.iti-sm {
  height: var(--size15);
  width: var(--size15);
  background-position: -4581px 0px;
}

.iti-flag.iti-sn {
  height: var(--size14);
  width: var(--size14);
  background-position: -4603px 0px;
}

.iti-flag.iti-so {
  height: var(--size14);
  width: var(--size14);
  background-position: -4625px 0px;
}

.iti-flag.iti-sr {
  height: var(--size14);
  width: var(--size14);
  background-position: -4647px 0px;
}

.iti-flag.iti-ss {
  height: var(--size10);
  width: var(--size10);
  background-position: -4669px 2px;
}

.iti-flag.iti-st {
  height: var(--size10);
  width: var(--size10);
  background-position: -4691px 2px;
}

.iti-flag.iti-sv {
  height: var(--size12);
  width: var(--size12);
  background-position: -4713px 0px;
}

.iti-flag.iti-sx {
  height: var(--size14);
  width: var(--size14);
  background-position: -4735px 0px;
}

.iti-flag.iti-sy {
  height: var(--size14);
  width: var(--size14);
  background-position: -4757px 0px;
}

.iti-flag.iti-sz {
  height: var(--size14);
  width: var(--size14);
  background-position: -4779px 0px;
}

.iti-flag.iti-ta {
  height: var(--size10);
  width: var(--size10);
  background-position: -4801px 2px;
}

.iti-flag.iti-tc {
  height: var(--size10);
  width: var(--size10);
  background-position: -4823px 2px;
}

.iti-flag.iti-td {
  height: var(--size14);
  width: var(--size14);
  background-position: -4845px 0px;
}

.iti-flag.iti-tf {
  height: var(--size14);
  width: var(--size14);
  background-position: -4867px 0px;
}

.iti-flag.iti-tg {
  height: var(--size13);
  width: var(--size13);
  background-position: -4889px 0px;
}

.iti-flag.iti-th {
  height: var(--size14);
  width: var(--size14);
  background-position: -4911px 0px;
}

.iti-flag.iti-tj {
  height: var(--size10);
  width: var(--size10);
  background-position: -4933px 2px;
}

.iti-flag.iti-tk {
  height: var(--size10);
  width: var(--size10);
  background-position: -4955px 2px;
}

.iti-flag.iti-tl {
  height: var(--size10);
  width: var(--size10);
  background-position: -4977px 2px;
}

.iti-flag.iti-tm {
  height: var(--size14);
  width: var(--size14);
  background-position: -4999px 0px;
}

.iti-flag.iti-tn {
  height: var(--size14);
  width: var(--size14);
  background-position: -5021px 0px;
}

.iti-flag.iti-to {
  height: var(--size10);
  width: var(--size10);
  background-position: -5043px 2px;
}

.iti-flag.iti-tr {
  height: var(--size14);
  width: var(--size14);
  background-position: -5065px 0px;
}

.iti-flag.iti-tt {
  height: var(--size12);
  width: var(--size12);
  background-position: -5087px 0px;
}

.iti-flag.iti-tv {
  height: var(--size10);
  width: var(--size10);
  background-position: -5109px 2px;
}

.iti-flag.iti-tw {
  height: var(--size14);
  width: var(--size14);
  background-position: -5131px 0px;
}

.iti-flag.iti-tz {
  height: var(--size14);
  width: var(--size14);
  background-position: -5153px 0px;
}

.iti-flag.iti-ua {
  height: var(--size14);
  width: var(--size14);
  background-position: -5175px 0px;
}

.iti-flag.iti-ug {
  height: var(--size14);
  width: var(--size14);
  background-position: -5197px 0px;
}

.iti-flag.iti-um {
  height: var(--size11);
  width: var(--size11);
  background-position: -5219px 0px;
}

.iti-flag.iti-un {
  height: var(--size14);
  width: var(--size14);
  background-position: -5241px 0px;
}

.iti-flag.iti-us {
  height: var(--size14);
  width: var(--size14);
  background-position: -5263px 2px;
}

.iti-flag.iti-uy {
  height: var(--size14);
  width: var(--size14);
  background-position: -5285px 0px;
}

.iti-flag.iti-uz {
  height: var(--size10);
  width: var(--size10);
  background-position: -5307px 2px;
}

.iti-flag.iti-va {
  height: var(--size15);
  width: var(--size15);
  background-position: -5329px 0px;
}

.iti-flag.iti-vc {
  height: var(--size14);
  width: var(--size14);
  background-position: -5346px 0px;
}

.iti-flag.iti-ve {
  height: var(--size14);
  width: var(--size14);
  background-position: -5368px 0px;
}

.iti-flag.iti-vg {
  height: var(--size10);
  width: var(--size10);
  background-position: -5390px 2px;
}

.iti-flag.iti-vi {
  height: var(--size14);
  width: var(--size14);
  background-position: -5412px 0px;
}

.iti-flag.iti-vn {
  height: var(--size14);
  width: var(--size14);
  background-position: -5434px 0px;
}

.iti-flag.iti-vu {
  height: var(--size12);
  width: var(--size12);
  background-position: -5456px 0px;
}

.iti-flag.iti-wf {
  height: var(--size14);
  width: var(--size14);
  background-position: -5478px 0px;
}

.iti-flag.iti-ws {
  height: var(--size10);
  width: var(--size10);
  background-position: -5500px 2px;
}

.iti-flag.iti-xk {
  height: var(--size15);
  width: var(--size15);
  background-position: -5522px 0px;
}

.iti-flag.iti-ye {
  height: var(--size14);
  width: var(--size14);
  background-position: -5544px 0px;
}

.iti-flag.iti-yt {
  height: var(--size14);
  width: var(--size14);
  background-position: -5566px 0px;
}

.iti-flag.iti-za {
  height: var(--size14);
  width: var(--size14);
  background-position: -5588px 0px;
}

.iti-flag.iti-zm {
  height: var(--size14);
  width: var(--size14);
  background-position: -5610px 0px;
}

.iti-flag.iti-zw {
  height: var(--size10);
  width: var(--size10);
  background-position: -5632px 2px;
}

.iti-flag {
  height: var(--size15);
  width: var(--size15);
  box-shadow: 0px 0px 1px 0px #888;
  background-image: url("../images/flags.png");
  background-repeat: no-repeat;
  background-color: #DBDBDB;
  background-position: 20px 0;
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  .iti-flag {
    background-image: url("../images/flags@2x.png");
  }
}

.iti-flag.iti-np {
  background-color: transparent;
}